.ContainerPage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
  }
.banner{
    background: #f6efff;
    padding: 0px;

    text-align: left;
    margin-top: 0rem;
    width: 100%;
    height: 110px;
    border-radius: 28px 28px 0px 0px ;

        svg{
            margin-top: 1.2%;
            margin-left: 4%;
        }
}

.profile-page-card-parent{
    width: 95%;
    height: 85%;
    display: flex;
    background-color: #ffffff;
    border-radius: 28px;
    margin-top: 1.7%;
    flex-direction: column;
    
}

.profile-page-card-child{
    border: 1px solid black;
}

.profile-page-card-child-left{
    border: 1px solid black;
    width: 30%;
    margin-bottom: 3%;

        img{
            border: 1px solid black;
            width: 300px;
            margin-top: 5%;
        }
    
}

.clear{
    width: 40%;
    height: 80px;
    margin-top: 15%;
    background:#ff8383 ;

    &:hover{
        background:#ff9292 ;

        }
}

.submit{
    width: 40%;
    height: 80px;
    margin-top: 10%;
    background:#ad69cc ;

    &:hover{
        background:#b587ca ;

        }
}


.profile-page-card-child-right{
    border: 1px solid black;
    width: 52%;
    margin-bottom: 3%;
    margin-top: 2.4%;
}

.profile-page-card-child-right-top{
    border: 1px solid black;
    width: 95.7%;
    height: 20%;
    margin-bottom: 3%;
    margin-top: 2.4%;
    margin-left: 2%;
    flex-direction: column;
}

.profile-page-card-child-right-middle{
    border: 1px solid black;
    width: 95.7%;
    height: 20%;
    margin-bottom: 3%;
    margin-top: 2.4%;
    margin-left: 2%;
}

.profile-page-card-child-right-bottom{
    border: 1px solid black;
    width: 95.7%;
    height: 44%;
    margin-bottom: 3%;
    margin-top: 2.4%;
    margin-left: 2%;
}

.title {
    border: 1px solid black;
    width: 100%;
    
    
    h1{
        margin-left: 0;
        font-size: 25px;
    }

    h2{
        margin-left: 44%;
        font-size: 25px;
    }
    
}

.parent-input{
    display: flex;
    flex-direction: row;
}

.firstname-input{
    border: 1px solid black;
    margin-top: .5%;
    height: 35px;
    width: 100%;
    max-width: 500px;
    background: #ECE6F0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    
    input{
        background:transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
    }
}

.lastname-input{
    border: 1px solid black;
    margin-top: .5%;
    height: 35px;
    width: 100%;
    max-width: 500px;
    background: #ECE6F0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10%;
    
    input{
        background:transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
    }
}

.secondtitle {
    border: 1px solid black;
    width: 100%;
    height: 50%;
    
    
    h1{
        margin-left: 0;
        font-size: 25px;
    }

    h2{
        margin-left: 44%;
        font-size: 25px;
    }
    
}





