.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.info{
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
  align-items: center;
  background: rgba( 255, 255, 255, 0.66 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
}
.title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.input-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}