:root{
    --primary-color:#172442;
    --secondary-color: #f9c74f;
    --background-color: #f2f0ef;
    --contrast-background-color: #F7F0D8;
    --text-color: #172442;
    --secondary-text-color: #757575;
    --contrast-text-color:#F7F0D8;
    --primary-font: Arial;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.ContainerPage {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}


.Banner {
    background-color: var(--primary-color);
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 0rem;
    width: 100%;
    height: 112px;
    align-items: left;
    justify-content: center;
}

.BannerText {
    color: var(--contrast-text-color);
    display: flex;
    justify-content: left;
    height: 74px;
    margin-left: 48px;
    margin-top: 19px    ;
    margin-bottom: 19px;
    font-family: Arial;
    font-size: 2.5rem;
    align-items: center;
}
.ContainerRegistrationForm {
    display: flex;
    flex-direction: column;
    background-color: var(--contrast-background-color);
    border-top:16px solid var(--primary-color);
    border-right: none;
    border-left: none;
    border-bottom: none;
    margin: auto;
    width: 600px;
    height: 672px;
    justify-content: center;
    align-items: center;
}

.RegistrationFormLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    width: 160px;
    height: 160px;
}

.RegistrationFormTopText {
    display: flex;
    align-content: flex-start;
    font-family: var(--primary-font);
    font-size: 72px;
    font-weight: 700;
    color: #003049;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

}

.ContainerRegistrationFormField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
    width: 504px;
}


.RegistrationField {
    background-color: var(--contrast-background-color);
    font-family: Arial;
    font-size: 1.5rem;
    border-color:#003049;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    width: 304px;
    height: 64px;
    box-sizing: border-box;
    margin-top:32px;

}

.RegistrationFieldName {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    margin-right: 0px;
    display: flex;
    align-items: center;
    margin-top:32px;
    width: 196px;
    height: 64px;
}
.ButtonContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1rem; 
    width: 100%;
  }

.Button {
    background-color: #003049;
    color: #fdf0d5;
    font-family: Arial;
    font-size: 1.5rem;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #003049;
    padding: 0rem;
    width: 96px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
}
.RegistrationButton:hover {
    color: var(--contrast-text-color);
    background-color: var(--contrast-background-color);
    border-color: var(--primary-color);

}
.RegistrationButton:active {
    background-color: #003049;
    color: #fdf0d5;
    border-color: #003049;
}


.SecondaryText{
    font-family: Arial;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    margin-top: 32px;
    margin-bottom: 0.5rem;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    width: 450px;
}
